<header style="background-color: #ffcc00; padding: 20px 0; text-align: center;">
    <div class="container" style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
        <div class="logo" style="margin-bottom: 20px;">
            <a href="/" style="text-decoration: none; color: #333;">
                <div>
                    <img src="{{ '/assets/images/logo_clear.png' | relative_url }}" alt="Mangrove Minds Logo" float="left" style="height: 60px;">
                    <h1>Mangrove Minds</h1>
                </div>
            </a>
        </div>
        <nav style="margin-bottom: 20px;">
            <ul style="list-style: none; padding: 0; display: flex; justify-content: center;">
                <li style="margin: 0 15px;"><a href="/" style="text-decoration: none; color: #333; font-weight: bold;">Home</a></li>
                <li style="margin: 0 15px;"><a href="{{ '/about/' | relative_url }}" style="text-decoration: none; color: #333; font-weight: bold;">About</a></li>
                <li style="margin: 0 15px;"><a href="{{ '/services/' | relative_url }}" style="text-decoration: none; color: #333; font-weight: bold;">Services</a></li>
                <!---<li style="margin: 0 15px;"><a href="/portfolio" style="text-decoration: none; color: #333; font-weight: bold;">Portfolio</a></li>
                -->
                <li style="margin: 0 15px;"><a href="{{ '/blog/' | relative_url }}" style="text-decoration: none; color: #333; font-weight: bold;">Blog</a></li>
                <!--#<li style="margin: 0 15px;"><a href="/contact" style="text-decoration: none; color: #333; font-weight: bold;">Contact</a></li>
                -->
            </ul>
        </nav>
        <div class="cta" style="text-align: center;">
            <a href="/contact" class="btn" style="background-color: #007BFF; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold;">Get Started</a>
        </div>
    </div>
</header>